@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol, ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

/*--------------------*/
@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova/ProximaNova-Bold.eot);
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url(../fonts/ProximaNova/ProximaNova-Bold.woff2) format("woff2"), url(../fonts/ProximaNova/ProximaNova-Bold.woff) format("woff"), url(../fonts/ProximaNova/ProximaNova-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/ExtraBold/Montserrat-ExtraBold.eot);
  src: url("../fonts/Montserrat/ExtraBold/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url(../fonts/Montserrat/ExtraBold/Montserrat-ExtraBold.woff2) format("woff2"), url(../fonts/Montserrat/ExtraBold/Montserrat-ExtraBold.woff) format("woff"), url(../fonts/Montserrat/ExtraBold/Montserrat-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Bold/Montserrat-Bold.eot);
  src: url("../fonts/Montserrat/Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url(../fonts/Montserrat/Bold/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat/Bold/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat/Bold/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/SemiBold/Montserrat-SemiBold.eot);
  src: url("../fonts/Montserrat/Medium/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url(../fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff) format("woff"), url(../fonts/Montserrat/SemiBold/Montserrat-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Medium/Montserrat-Medium.eot);
  src: url("../fonts/Montserrat/Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url(../fonts/Montserrat/Medium/Montserrat-Medium.woff2) format("woff2"), url(../fonts/Montserrat/Medium/Montserrat-Medium.woff) format("woff"), url(../fonts/Montserrat/Medium/Montserrat-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

.swipe-prev, .swipe-next {
  position: absolute;
  top: 46%;
  cursor: pointer;
  z-index: 10;
  padding: 23px 30px;
  border-radius: 200px 200px 200px 200px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);
}

.bottom-menu__title::after, .menu-item__title::after {
  background: url(../img/hero/menuIndicator.png) no-repeat center;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 0.255em;
  content: "";
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

h1 {
  font-weight: 800;
  font-size: 80px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

h3, h4, h5, h6 {
  font-weight: 500;
  font-size: 26px;
}

a, a:hover {
  color: #000;
}

.swiper-slide__img {
  max-width: 100%;
}

.swiper-slide__img {
  border-radius: 200px 200px 200px 200px;
}

.swipe-prev {
  left: 0%;
}

.swipe-next {
  right: 0%;
}

.specialist-slider {
  padding: 80px 0 90px 0;
}

.specialist-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #000000;
  border-radius: 2px;
  opacity: 1;
}

.specialist-slider .swiper-pagination-bullet-active {
  width: 6px;
  height: 6px;
  outline: 3px solid #000000;
  border-radius: 2px;
  opacity: 1;
  background-color: #fff;
}

.specialist-slider .swipe-prev__img, .specialist-slider .swipe-next__img {
  vertical-align: baseline;
}

.header__top-inner {
  padding: 24px 0 20px 0;
}

.header__burger {
  background: url(../img/icons/iconBurger.svg) no-repeat left;
  display: block;
  width: 34px;
  height: 19px;
}

.header__mobile-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
}

.header__contact-btn {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 7px 15px 8px 15px;
  background: -webkit-gradient(linear, right top, left top, from(#FFCC00), to(#FFA300));
  background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
  border-radius: 70px;
}

.split-border {
  border-bottom: 1px solid #e5e5e5;
}

.menu__list-item:hover .menu__img {
  opacity: 1;
}

.menu__img {
  opacity: 0;
  margin-left: 20px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__link {
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0px;
}

.contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 244px;
          flex: 0 1 244px;
}

.contact__work-time {
  background: url(../img/icons/iconIndicator.svg) no-repeat left;
  margin-left: 10%;
  margin-bottom: 6px;
  font-size: 14px;
}

.contact__number {
  background: url(../img/icons/iconCall.svg) no-repeat left;
  padding-left: 7%;
  line-height: 31.6px;
  display: block;
  font-weight: 700;
  font-size: 26px;
}

.contact__number-mobile {
  display: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.bottom-menu__img {
  padding-right: 15px;
}

.bottom-menu__list-item {
  border-right: 1px solid #e5e5e5;
  padding-right: 2%;
}

.bottom-menu__title {
  font-weight: 500;
  font-size: 16px;
}

.hero {
  display: block;
  position: relative;
}

.hero__wrapper {
  padding-bottom: 80px;
}

.hero__gradient-split {
  height: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.05)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  position: absolute;
}

.hero__left-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 60%;
}

.hero__right-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 40%;
}

.hero__img {
  position: absolute;
  width: 40%;
  height: 100%;
  max-height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.hero__gradient-split--no-shadow {
  height: 1px;
}

.service-content__title {
  padding-top: 120px;
  padding-bottom: 60px;
}

.service-content__text {
  font-size: 26px;
  padding-bottom: 60px;
  width: 84%;
  line-height: 31.2px;
}

.service-content__link {
  display: inline-block;
  padding: 24px 60px;
  background: -webkit-gradient(linear, right top, left top, from(#FFCC00), to(#FFA300));
  background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
  border-radius: 50px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
}

.service-content__arrow {
  display: inline-block;
  background: url(../img/icons/iconDiag.svg) no-repeat left;
  padding-left: 22px;
  line-height: 21.6px;
}

.service-content__link:before {
  z-index: 6;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 98%;
  left: 18%;
  border: 11px solid transparent;
  border-top: none;
  border-bottom-color: #ffad01;
}

.option-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.option-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  line-height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.option-list__icon {
  min-width: 70px;
  min-height: 70px;
  -o-object-fit: none;
     object-fit: none;
  -webkit-box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
          box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
  border-radius: 10px;
}

.option-list__txt {
  padding-left: 3%;
  padding-right: 8%;
  line-height: 28px;
}

.fix-counter__wrapper {
  position: absolute;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 24%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  bottom: 101px;
  left: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
          box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
}

.fix-counter__number {
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  font-size: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#FFCC00), to(#FFA300));
  background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFA300;
  line-height: 60.9px;
}

.fix-counter__img {
  width: 60px;
  height: 60px;
}

.fix-counter__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37%;
          flex: 0 1 37%;
  line-height: 24px;
}

.specialists__title {
  padding-top: 120px;
  text-align: center;
  display: block;
  width: 64%;
  margin: 0 auto;
  line-height: 48px;
}

.specialists__subtitle {
  padding-top: 40px;
  display: block;
  text-align: center;
  width: 56%;
  margin: 0 auto;
  line-height: 31.2px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide__img {
  display: block;
}

.swiper-slide__title {
  padding-top: 40px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 26px;
  line-height: 33.8px;
}

.swiper-slide__description {
  width: 100%;
  font-size: 18px;
  text-align: center;
  line-height: 21.6px;
}

.swiper-slide__jobes-done {
  margin: 32px 0;
  padding: 1.5% 0 1.5% 9%;
  font-size: 16px;
  background: url(../img/specialists/Ok.png) no-repeat left top/24px 24px;
}

.swiper-slide__comment {
  font-size: 16px;
  display: inline-block;
  padding: 16px;
  background: #F6F6F6;
  border-radius: 20px;
  position: relative;
}

.swiper-slide__comment:before {
  z-index: 6;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 98%;
  left: 50%;
  border: 11px solid transparent;
  border-top: none;
  border-bottom-color: #F6F6F6;
}

.swiper-pagination {
  display: block;
}

.footer-content__list {
  margin: 0 -16px;
}

.footer-content__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
  padding: 0 16px;
  overflow: hidden;
}

.footer-content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-content__wrapper {
  padding: 120px 0 90px 0;
}

.filial-content__title {
  font-size: 60px;
  padding-bottom: 60px;
  line-height: 60px;
}

.filial-content__offer {
  padding-bottom: 32px;
  line-height: 28px;
}

.filial-content__address {
  display: block;
  padding: 19px 40px;
  border: 2px solid #000;
  border-radius: 100px;
  margin: 8px auto 30px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 21.6px;
  font-weight: 700;
  font-size: 18px;
}

.filial-content__address:hover {
  color: #fff;
  background-color: #000;
}

.logo__mobile-link {
  display: none;
}

.offcanvas__header {
  padding: 20px 24px 32px 24px;
}

.offcanvas__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
}

.offcanvas__close-btn {
  background: url(../img/icons/iconCross.svg) no-repeat center #F6F6F6;
  width: 24px;
  height: 24px;
  border-radius: 18px;
}

.offcanvas__body {
  padding: 0 24px;
}

.menu-item {
  border-bottom: 3px solid #F6F6F6;
}

.menu-item__title {
  display: block;
  font-size: 14px;
  line-height: 17px;
  padding: 25px 0;
}

.menu-item__title::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* ----------Responsive------------ */
/*container for 1920px */
@media (min-width: 1920px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
  }
}

/* 1400px - 1920px NOT NEEDED due to TechTask*/
@media screen and (max-width: 1920px) {
  .fix-counter__wrapper {
    width: 35%;
    left: 62%;
  }
}

/* 1200px - 1400px ADAPTED FOR 1366px*/
@media screen and (max-width: 1400px) {
  .menu {
    display: none;
  }
  .header__top-inner {
    padding: 13px 0 17px 0;
  }
  .service-content__title {
    font-size: 70px;
    line-height: 70px;
    padding-top: 80px;
  }
  .service-content__text {
    line-height: 24px;
    font-size: 20px;
    width: 87%;
  }
  .option-list__txt {
    font-size: 18px;
    line-height: 25.2px;
  }
  .hero__left-group {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 70%;
  }
  .hero__right-group {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 30%;
  }
  .hero__gradient-split--no-shadow {
    height: 160px;
  }
  .option-list__item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .fix-counter__wrapper {
    width: 38%;
    left: 61%;
    bottom: 26%;
  }
  .specialists__title {
    padding-top: 280px;
    font-size: 42px;
    line-height: 42px;
    width: 83%;
  }
  .specialists__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .swiper-slide__title {
    font-size: 22px;
    line-height: 28.6px;
  }
  .swiper-slide__description {
    font-size: 16px;
    line-height: 19.2px;
  }
  .filial-content__title {
    font-size: 50px;
    line-height: 50px;
    width: 90%;
  }
  .filial-content__offer {
    font-size: 18px;
    line-height: 25.2px;
  }
  .filial-content__address {
    font-size: 15px;
    line-height: 18px;
  }
  .service-content__arrow {
    font-size: 16px;
    line-height: 19.2px;
  }
  .service-content__link {
    padding: 20px 40px;
  }
  .bottom-menu__title--apple, .bottom-menu__title--smartphone, .bottom-menu__title--tablet, .bottom-menu__title--notebook {
    font-size: 14px;
    line-height: 17px;
  }
  .bottom-menu__title--catalog::after {
    display: none;
  }
}

/* 992px - 1200px ADAPTED FOR 1024px*/
@media screen and (max-width: 1200px) {
  .header__top-inner {
    padding: 15px 0;
  }
  .service-content__arrow {
    font-size: 14px;
    line-height: 16.8px;
  }
  .service-content__link {
    padding: 15px 30px;
    margin-bottom: 32px;
  }
  .bottom-menu__title--notebook {
    display: none;
  }
  .bottom-menu__list-item {
    border-right: none;
  }
  .bottom-menu__list-item:first-child {
    border-right: 1px solid #e5e5e5;
  }
  .service-content__title {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 40px;
    width: 75%;
  }
  .service-content__text {
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 40px;
    width: 80%;
  }
  .option-list__item {
    margin-bottom: 32px;
  }
  .hero__wrapper {
    padding-bottom: 48px;
  }
  .hero__img {
    width: 36%;
  }
  .fix-counter__number {
    font-size: 28px;
    line-height: 34.1px;
  }
  .fix-counter__description {
    font-size: 14px;
    line-height: 16.8px;
  }
  .fix-counter__wrapper {
    padding: 13px 22px;
    width: 28%;
    left: 68%;
    bottom: 23%;
  }
  .fix-counter__img {
    width: 40px;
    height: 40px;
  }
  .hero__gradient-split--no-shadow {
    height: 120px;
  }
  .specialists__title {
    padding-top: 200px;
    font-size: 36px;
    line-height: 36px;
  }
  .specialists__subtitle {
    padding-top: 32px;
    font-size: 16px;
    line-height: 19.2px;
  }
  .specialist-slider {
    padding: 60px 0 70px 0;
  }
  .swiper-slide__title {
    padding-top: 32px;
    font-size: 20px;
    line-height: 26px;
  }
  .swiper-slide__jobes-done {
    margin: 24px 0;
    padding-left: 14%;
  }
  .swiper-slide__description, .swiper-slide__jobes-done, .swiper-slide__comment {
    font-size: 14px;
    line-height: 16.8px;
  }
  .footer-content__wrapper {
    padding-top: 80px;
  }
  .footer-content__item {
    margin: 0;
  }
  .footer-content__item--img-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
  }
  .footer-content__item--txt {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .footer-content__item--img-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
  }
  .footer-content__item--img-3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
  }
  .filial-content__title {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 40px;
  }
  .filial-content__offer {
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 19.6px;
  }
  .filial-content__address {
    padding: 16.5px 30px;
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 40px;
  }
  .contact__number {
    font-size: 18px;
    line-height: 21.9px;
    margin-left: auto;
    width: 71%;
  }
  .contact__work-time {
    font-size: 12px;
    line-height: 14.6px;
    width: 77%;
    margin-left: auto;
    padding-left: 3%;
  }
  .option-list__txt {
    font-size: 14px;
    line-height: 19.6px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .fix-counter__wrapper {
    width: 36%;
    left: 63%;
  }
  .bottom-menu__title::after {
    display: none;
  }
  .bottom-menu__txt {
    display: none;
  }
}

/* 576px - 768px ADAPTED FOR 768px*/
@media screen and (max-width: 768px) {
  .header__top-inner {
    padding: 13px 0;
  }
  .service-content__arrow {
    width: 103%;
  }
  .contact__work-time {
    width: 92%;
  }
  .contact__number {
    width: 87%;
  }
  .dropdown-toggle::after {
    opacity: 0;
  }
  .option-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__left-group {
    width: 55%;
  }
  .hero__right-group, .hero__img {
    width: 40%;
  }
  .service-content__text--garanty {
    display: none;
  }
  .fix-counter__wrapper {
    width: 48%;
    left: 52%;
    bottom: 14%;
  }
  .specialists__title {
    padding-top: 120px;
  }
  .swiper-slide__comment {
    font-size: 12px;
    line-height: 14.4px;
  }
  .swipe-prev, .swipe-next {
    top: 42%;
  }
  .bottom-menu__list-item {
    padding-right: 0;
  }
  .bottom-menu__title {
    display: block;
    width: 109%;
  }
}

/* null  - 576px ADAPTED FOR 375px*/
@media screen and (max-width: 576px) {
  .logo__link {
    display: none;
  }
  .logo__mobile-link {
    display: block;
  }
  .contact__number-mobile {
    display: block;
  }
  .contact {
    display: none;
  }
  .header__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bottom-menu__list {
    display: none;
  }
  .fix-counter__wrapper {
    width: 78%;
    left: 12%;
    bottom: -2%;
  }
  .service-content__title {
    font-size: 26px;
    line-height: 26px;
    padding: 60px 0 32px;
    width: 50%;
  }
  .service-content__text {
    font-size: 14px;
    line-height: 16.8px;
    padding-bottom: 32px;
    width: 51%;
  }
  .service-content__link {
    width: 100%;
  }
  .service-content__arrow {
    margin-left: 10%;
  }
  .hero__img {
    height: 28%;
  }
  .hero__right-group {
    width: 0%;
  }
  .hero__left-group {
    width: 100%;
  }
  .hero__gradient-split--no-shadow {
    display: none;
  }
  .option-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .option-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 24px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .option-list__txt {
    padding-top: 20px;
    padding-right: 3%;
    text-align: center;
  }
  .specialists__title {
    padding-top: 65px;
    font-size: 22px;
    line-height: 22px;
  }
  .specialists__subtitle {
    padding-top: 24px;
    font-size: 14px;
    line-height: 16.8px;
  }
  .specialist-slider {
    padding: 40px 0 50px 0;
  }
  .swiper-slide__title {
    font-size: 18px;
    line-height: 23.4px;
  }
  .swiper-slide__description {
    width: 70%;
  }
  .footer-content__wrapper {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .footer-content__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content__item {
    margin-bottom: 30px;
    padding-right: 8px;
  }
  .filial-content__title {
    text-align: center;
    width: 100%;
    font-size: 26px;
    line-height: 26px;
  }
  .filial-content__address {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=Main.css.map */